:root {
  --black: hsl(230, 35%, 7%);
  --accent: hsl(231, 77%, 90%);
  --white: hsl(0, 0%, 100%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: var(--white);
  font-family: "Barlow", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
  line-height: 1;
  margin-block: 0;
}
