h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
  line-height: 1;
  margin-block: 0;
}

.fancy-heading {
  color: var(--white);
  font-weight: normal;
}

h1.fancy-heading {
  font-size: 150px;
}

h2.fancy-heading {
  font-size: 100px;
}

h3 {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.36px;
}

h3.fancy-heading {
  font-size: 56px;
}

h4.fancy-heading {
  font-size: 32px;
}

h5.fancy-heading {
  font-family: "Barlow Condensed Regular", serif;
  font-size: 28px;
  color: var(--accent);
}

p {
  line-height: 1.7;
}

.heading h1 {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4.72px;
  text-transform: uppercase;
  color: var(--white);
}

.heading h1::before {
  font-weight: 700;
  color: #fff5;
  margin-inline-end: 1.5rem;
}
