---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Crew";
---

<BaseLayout title={title}>
  <main>
    <section class="main-section">
      <h1>Meet your crew</h1>
      <nav class="main-section__nav">
        <ul>
          <li><a href="#"><span class="sr-only">Douglas Hurley</span></a></li>
          <li>
            <a href="#"><span class="sr-only">Mark Shuttleworth</span></a>
          </li>
          <li><a href="#"><span class="sr-only">Victor Glover</span></a></li>
          <li><a href="#"><span class="sr-only">Anousheh Ansari</span></a></li>
        </ul>
      </nav>

      <div class="main-section__text">
        <h2 class="fancy-heading">Douglas Hurley</h2>
        <h3 class="fancy-heading">Commander</h3>

        <p>
          Douglas Gerald Hurley is an American engineer, former Marine Corps
          pilot and former NASA astronaut. He launched into space for the third
          time as commander of Crew Dragon Demo-2.
        </p>
      </div>
      <div class="main-section__content">
        <img src="../../assets/crew/image-douglas-hurley.webp" alt="" />
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    background-position: center;

    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .main-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "heading heading"
      "text content"
      "nav content";
    place-items: center;
  }

  h1 {
    place-self: start;
  }

  .main-section__text {
    grid-area: text;
  }

  .main-section__content {
    grid-area: content;
    align-self: end;
  }

  .main-section__nav {
    grid-area: nav;
    justify-self: start;
  }

  .main-section__nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 1rem;
  }

  .main-section a {
    display: inline-block;
    padding: 0.5rem;
    aspect-ratio: 1 /1;
    background: #fff2;
    border-radius: 50%;
  }

  .main-section a.active {
    background: var(--white);
  }

  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  @media screen and (max-width: 60em) {
    main {
      background-image: url("../../assets/crew/background-crew-tablet.jpg");
    }

    .main-section {
      text-align: center;

      grid-template-areas:
        "heading "
        "text "
        "nav "
        "content ";
      grid-template-columns: 1fr;
      justify-items: center;
    }

    .main-section__nav {
      justify-self: unset;
    }
  }

  @media screen and (max-width: 50em) {
    main {
      background-image: url("../../assets/crew/background-crew-mobile.jpg");
    }
  }
</style>
