---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <section class="main-section hero">
      <div class="main-section__text">
        <p class="subtitle">So, you want to travel to</p>
        <h1>Space</h1>
        <p>
          So, you want to travel to Space Let’s face it; if you want to go to
          space, you might as well genuinely go to outer space and not hover
          kind of on the edge of it. Well sit back, and relax because we’ll give
          you a truly out of this world experience!
        </p>
      </div>
      <div class="main-section__content">
        <a href="/destination" class="btn btn--cta">Explore</a>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    background-image: url("../../assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .hero {
    min-height: 100vh;
  }

  .subtitle {
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 4.72px;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .hero h1 {
    text-transform: uppercase;
    color: var(--white);
  }

  .main-section__text {
    flex-basis: min-content;
  }

  .btn--cta {
    background: var(--white);
    color: var(--black);
    text-decoration: none;
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Bellefair", serif;
    transition: box-shadow 200ms ease;

    display: grid;
    place-items: center;
  }

  .btn--cta:hover {
    box-shadow: 0 0 0 60px #97979744;
    cursor: pointer;
  }

  @media screen and (max-width: 65em) {
    main {
      background-image: url("../../assets/home/background-home-tablet.jpg");
    }
    .hero {
      text-align: center;
      padding-block: 6rem 3rem;
    }

    .btn--cta {
      width: 242px;
      height: 242px;
    }
  }

  @media screen and (max-width: 50em) {
    main {
      background-image: url("../../assets/home/background-home-mobile.jpg");
    }
  }
</style>
