---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="main-section hero">
    <div class="main-section__text">
      <h1>Ga tau judulnya apa</h1>
      <p>
        So, you want to travel to Space Let’s face it; if you want to go to
        space, you might as well genuinely go to outer space and not hover kind
        of on the edge of it. Well sit back, and relax because we’ll give you a
        truly out of this world experience! Explore
      </p>
    </div>
  </section>
</BaseLayout>

<style>
  .hero {
    background-image: url("../../assets/home/background-home-desktop.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

    display: flex;
    align-items: center;
  }
</style>
