<nav>
  <div class="logo">
    <img src="../../assets/shared/logo.svg" alt="" />
  </div>

  <div class="horizontal-ruler"></div>

  <ol class="nav-links">
    <div class="bg"></div>
    <div class="nav-links__header">
      <button class="nav-btn close">
        <img src="../../assets/shared/icon-close.svg" alt="" />
      </button>
    </div>
    <li><a href="/">Home</a></li>
    <li><a href="/destination/moon">Destination</a></li>
    <li><a href="/crew">Crew</a></li>
    <li><a href="/technology">Technology</a></li>
  </ol>

  <button class="nav-btn open">
    <img src="../../assets/shared/icon-hamburger.svg" alt="" />
  </button>
</nav>

<style>
  nav {
    padding-block: 2rem;
    position: fixed;
    width: 100%;

    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-content: center;
  }

  .logo {
    justify-self: center;
  }

  .horizontal-ruler {
    background: #979797;
    height: 1px;
    grid-column: 2 / 5;
    grid-row: 1;
  }

  .nav-links {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: nav-counter -1;

    grid-column: span 6 / 12;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    position: relative;
  }

  .nav-links .bg {
    background: #fff2;
    backdrop-filter: blur(1rem);
    position: absolute;
    inset: 0;
    z-index: -1;
    scale: 140% 1;
  }

  .nav-links__header {
    display: none;
  }

  .nav-links li {
    counter-increment: nav-counter;
  }

  .nav-links li::before {
    content: "0" counter(nav-counter);
    font-weight: bold;
  }

  .nav-links a {
    display: inline-block;
    padding: 2rem 1rem;
    color: inherit;
    text-decoration: none;
    letter-spacing: 2.7px;
    position: relative;
  }

  .nav-links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    height: 0.125rem;
    scale: 0;
    transition: scale 200ms ease;
  }

  .nav-links a:hover::before {
    scale: 1;
  }

  .nav-btn {
    display: none;
    color: var(--accent);
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1 / 1;
  }

  @media screen and (max-width: 65em) {
    nav {
      padding-block: 0;
      padding-inline: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .nav-links li::before {
      content: "";
    }

    .horizontal-ruler {
      display: none;
    }
  }

  @media screen and (max-width: 50em) {
    nav {
      padding-block: 2rem;
    }

    .nav-links {
      position: absolute;
      inset: 0 0 0 auto;
      min-height: 100vh;
      min-width: 60vw;

      flex-direction: column;
      justify-content: start;
      gap: unset;
      z-index: 10;
      translate: 100% 0;
      transition: translate 200ms ease;
    }

    .nav-links.active {
      translate: 0 0;
    }

    .nav-links__header {
      padding: 2rem;
      font-size: 2rem;
      display: flex;
      justify-content: end;
    }

    .nav-links li {
      padding-inline: 2rem;
    }

    .nav-links li::before {
      content: "0" counter(nav-counter);
    }

    .nav-links a {
      padding: 1rem;
    }

    .nav-btn {
      display: block;
    }

    .nav-links .bg {
      scale: 1 1;
    }
  }
</style>

<script>
  import "../scripts/navbar.js";
</script>
