---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html>
  <head>
    <BaseHead />
  </head>

  <body>
    <Navbar />
    <slot />
  </body>
</html>
